# EXPLORATORY DATA ANALYSIS OF AVIATION ACCIDENTS

## INTRODUCTION
The company is interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. Determine which aircraft are the lowest risk for the company to start this new business endeavor then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.

## Table of Contents
- [Introduction](#OBJECTIVES)
- [.IMPORT LIBRARIES AND PACKAGES](#import-Libraries-and-packages)
- [DATA  EXPLORATION](#DATA-EXPLORATION)
- [ DATA CLEANING](#DATA-CLEANING)
- [EXPLORATORY DATA ANALYSIS](#EXPLORATORY-DATA-ANALYSIS)

# EXPLORATORY DATA ANALYSIS OF AVIATION ACCIDENTS

## INTRODUCTION

The company is  interested in purchasing and operating airplanes for commercial and private enterprises, but do not know
anything about the potential risks of aircraft. Determine which aircraft are the lowest risk for the company to start this new business endeavor then translate your findings into actionable insights that the head of the new aviation division can
use to help decide which aircraft to purchase.

##OBJECTIVES

-What are the top 10 companies whose models that are involved in the accidents.
-The best  weather condition to operate an airplane amd the ones to avoid .
-What are the best engines to be used on an airplane/ What engines were involved in the fatal and non-fatal
-How much damage was caused to the aircraft by fatalities

###1.IMPORT LIBRARIES AND PACKAGES

In [1]:
#import necessary Libraries and packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

##LOAD THE DATASET

Load the "AviationData.csv"  dataset that we are goinng to use for the dataset

In [2]:
#load the dataset
aviation1 = pd.read_csv("AviationData.csv", encoding='ISO-8859-1')
aviation1

C:\Users\pc\Documents\New folder\New folder\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

##DATA  EXPLORATION

We will explore our dataset and know more about it eg.the columns,the data types ,the number of rows

In [3]:
#check the number of rows and columns in the dataset 
aviation1.shape

(88889, 31)

In [4]:
#print out the column names
aviation1.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [5]:
#check for the overview of the data
aviation1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

From this we notice that the datatype of the  columns

In [6]:
#check the statistical summary of the data
aviation1.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

We notice from the output above the mean,minimum and maximum values of the columns

## DATA CLEANING

In this stage we will handle missing values ,identify any duplicated data,check the datatypes and change if necessary

In [7]:
aviation1.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [8]:
#Ensure the 'Accident.Number' column is of type 'float'
aviation1['Accident.Number']=pd.to_numeric(aviation1['Accident.Number'],errors='coerce')

In [9]:
#check if the datatype of accident number  changed to numeric
aviation1.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number           float64
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

###HANDLE MISSING VALUES

We shall handle missing values so that we can visualize the data to create better insights

In [10]:
#check number of missing values
aviation1.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number           88889
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

We will start by handlinng missing values of the  columns with categorical data and replace them with unknown.
The columns that have categorical data are Location,Country,Make,Model,Amateur.Built,Engine.Type,weather condition,Repoststatus,purpose.of.flight

In [11]:
#Replace missing values in Location,Country,Make,Model and amateur built with unknown
aviation1['Location']=aviation1['Location'].fillna('unknown')
aviation1['Country']=aviation1['Country'].fillna('unknown')
aviation1['Make']=aviation1['Make'].fillna('unknown')
aviation1['Model']=aviation1['Model'].fillna('unknown')
aviation1['Amateur.Built']=aviation1['Amateur.Built'].fillna('unknown')
aviation1['Weather.Condition']=aviation1['Weather.Condition'].fillna('unknown')
aviation1['Engine.Type']=aviation1['Engine.Type'].fillna('unknown')
aviation1['Report.Status']=aviation1['Report.Status'].fillna('unknown')
aviation1['Purpose.of.flight']=aviation1['Purpose.of.flight'].fillna('unknown')
aviation1['Broad.phase.of.flight']=aviation1['Broad.phase.of.flight'].fillna('unknown')

#check if  the missing values have been replaced 
aviation1.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number           88889
Event.Date                    0
Location                      0
Country                       0
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          6084
Engine.Type                   0
FAR.Description           56866
Schedule                  76307
Purpose.of.flight             0
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status                 0
Publication.Date          13771
dtype: int64

We can drop the columns that are irrelevant to us and have a lot of missing values   like the FAR.Description,Event.Id,schedule,publication date,Registration.Number,air.carrier

In [12]:
#Drop the columns
aviation1.drop('FAR.Description',axis=1,inplace=True)
aviation1.drop('Schedule',axis=1,inplace=True)
aviation1.drop('Event.Id',axis=1,inplace=True)
aviation1.drop('Registration.Number',axis=1,inplace=True)
aviation1.drop('Air.carrier',axis=1,inplace=True)
aviation1.drop('Airport.Code',axis=1,inplace=True)
aviation1.drop('Airport.Name',axis=1,inplace=True)
aviation1.isna().sum()

Investigation.Type            0
Accident.Number           88889
Event.Date                    0
Location                      0
Country                       0
Latitude                  54507
Longitude                 54516
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          6084
Engine.Type                   0
Purpose.of.flight             0
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status                 0
Publication.Date          13771
dtype: int64

In [13]:
#handle missing values in publication date,Aircraft.Category,Injury.Severity,Aircraft.Damage,Longitude and Latitude by dropping the rows with missing values
aviation1.dropna(subset=['Publication.Date'],inplace=True)
aviation1.dropna(subset=['Aircraft.Category'],inplace=True)
aviation1.dropna(subset=['Injury.Severity'],inplace=True)
aviation1.dropna(subset=['Aircraft.damage'],inplace=True)
aviation1.dropna(subset=['Longitude'],inplace=True)
aviation1.dropna(subset=['Latitude'],inplace=True)
aviation1.isnull().sum()

Investigation.Type            0
Accident.Number           24625
Event.Date                    0
Location                      0
Country                       0
Latitude                      0
Longitude                     0
Injury.Severity               0
Aircraft.damage               0
Aircraft.Category             0
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          1309
Engine.Type                   0
Purpose.of.flight             0
Total.Fatal.Injuries       3290
Total.Serious.Injuries     3192
Total.Minor.Injuries       2777
Total.Uninjured             750
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status                 0
Publication.Date              0
dtype: int64

We will now have to handle missing Values in columns containing Numerical values.Data containing total.Fatal.injuries,serious injuries,Total.Minor.Injuries,Total.uninjured is very sensitive so we would not want to handle the missing values in a way that would show bias or lack of data integrity.we will have to handle missing values by dropping the rows with missing values

In [14]:
aviation1.dropna(subset=['Total.Uninjured'],inplace=True)
aviation1.dropna(subset=['Total.Minor.Injuries'],inplace=True)
aviation1.dropna(subset=['Total.Serious.Injuries'],inplace=True)
aviation1.dropna(subset=['Total.Fatal.Injuries'],inplace=True)
aviation1.isnull().sum()

Investigation.Type            0
Accident.Number           21209
Event.Date                    0
Location                      0
Country                       0
Latitude                      0
Longitude                     0
Injury.Severity               0
Aircraft.damage               0
Aircraft.Category             0
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          1298
Engine.Type                   0
Purpose.of.flight             0
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status                 0
Publication.Date              0
dtype: int64

For Number of Engines,we will replace the missing values with the mode

In [15]:
#Replace missing values in number of engines with mode
mode = aviation1['Number.of.Engines'].mode()
aviation1['Number.of.Engines']=aviation1['Number.of.Engines'].fillna('mode')
aviation1.isnull().sum()

Investigation.Type            0
Accident.Number           21209
Event.Date                    0
Location                      0
Country                       0
Latitude                      0
Longitude                     0
Injury.Severity               0
Aircraft.damage               0
Aircraft.Category             0
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines             0
Engine.Type                   0
Purpose.of.flight             0
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status                 0
Publication.Date              0
dtype: int64

The above code shows that there are no more missing values.

###Check for Duplicates

In [16]:
duplicates= aviation1.duplicated()
print(len(duplicates))
duplicates

21209

50682    False
54904    False
59584    False
61280    False
61649    False
         ...
88869    False
88873    False
88876    False
88877    False
88886    False
Length: 21209, dtype: bool

From the above we observe that the dataset has no duplicates

### NEW COLUMN
Here we will create a new column called injuries_&_fatalities that represents the Total.Fatal.Injuries,total serious injuries and total minor injuries

In [17]:
aviation1['injuries_&_fatalities'] = aviation1['Total.Fatal.Injuries']+aviation1['Total.Serious.Injuries']+aviation1['Total.Minor.Injuries']
aviation1.columns

Index(['Investigation.Type', 'Accident.Number', 'Event.Date', 'Location',
       'Country', 'Latitude', 'Longitude', 'Injury.Severity',
       'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date',
       'injuries_&_fatalities'],
      dtype='object')

## EXPLORATORY DATA ANALYSIS

Now that we have cleaned the dataset,it is ready to be used to translate the findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.

### PLOT A:A Graph of Top 10 Aircraft Category by Count of Accidents

Here we will start by visualizing the aircraft category and see the aircraft with the most and the least number of accidents.

In [ ]:
#Create a bar chart
plt.figure(figsize=(20,15))
#sort values in ascending order and take only the top 10
aviation1['Aircraft.Category'].str.upper().value_counts().sort_values(ascending=False)[:10].plot(kind='bar', color='Red')
plt.xticks(rotation=90)
#Add labels
plt.xlabel('Aircraft.Category')
plt.ylabel("Count of Accidents")
plt.title("Top 10 Aircraft Categories involved in accidents")
y=aviation1['Aircraft.Category'].str.upper().value_counts().sort_values(ascending=False)[:10]
plt.show()

From the above graph we see that airplanes are the most involved in accidents followed by helicopters whereas ULTRALIGHT,WSFT ,Powered Parachute and Baloon have few involvement in accidents

### PLOT B :Count of Accidents in Different Countries
We will have to use  the countries that have > 50 number of accidents.We will count the number of accidents as per countries

In [ ]:
# Count of Accidents as per Countries
accidents = aviation1['Country'].groupby(aviation1['Country']).count()
accidents

In [ ]:
# Plot Country using seaborn
fig = plt.figure(figsize=(20,15))
#create a list of countries with accidents that are more than 50
accidents_Count = accidents[aviation1['Country'].groupby(aviation1['Country']).count() > 50]
accidents_Count_df = pd.DataFrame({'Country':accidents_Count.index,'Count':accidents_Count.values})
sns.barplot(x=accidents_Count_df['Country'],y=accidents_Count_df['Count'],data=aviation1,palette='Blues_d')
plt.xticks(rotation=90)
#Add labels
plt.xlabel("Country", size=15)
plt.ylabel("Count of Accidents", size=15)
plt.title("distribution of accidents by Countries", size=20)
plt.show()

From the above graph we notice that United States has the highest number of accidents

   ### PLOT C: A Graph  of the top 10 companies that are involved in accidents
   
    -We will use.sort_values to put our 'make'columns be in ascending order so we can take the top 10

In [ ]:
#Create a bar chart
plt.figure(figsize=(20,15))
#sort values in ascending order and take only the top 10
aviation1['Make'].str.upper().value_counts().sort_values(ascending=False)[:10].plot(kind='bar', color='Red')
plt.xticks(rotation=90)
#Add labels
plt.xlabel("Make")
plt.ylabel("Count of Accidents")
plt.title("Top 10 Notorious Companies in the United States")
y=aviation1['Make'].str.upper().value_counts().sort_values(ascending=False)[:10]
plt.show()

From the graph above we notice that CESSNA is the company that is the most involved in the accident, followed by PIPER

### PLOT D :Top 10  Models by Count of accidents .

In [ ]:
#check unique values in models
aviation1['Model'].unique()

In [ ]:
#Create a bar chart
plt.figure(figsize=(20,15))
#sort values in ascending order and take only the top 10
aviation1['Model'].str.upper().value_counts().sort_values(ascending=False)[:10].plot(kind='bar', color='Red')
plt.xticks(rotation=90)
#Add labels
plt.xlabel("Model")
plt.ylabel("Count of Accidents")
plt.title("Top 10 Models involved in the accidents")
y=aviation1['Model'].str.upper().value_counts().sort_values(ascending=False)[:10]
plt.show()

From the above ,we notice that model 172 is the most involved in accidents followed by PA28

### PLOT E :A Graph of the Weather Condition by Count of accidents

In [ ]:
#Create a graph using seaborn
plt.figure(figsize=(20,15))
splot = sns.countplot(data=aviation1, x='Weather.Condition', edgecolor=(0,0,0), linewidth=1, palette='Reds')

#Show label
plt.xlabel("Weather.Condition")
plt.ylabel("Number of Occurrences")
plt.title("What was the weather when Accident took place?")
plt.show()

From the above graph we see that VMC is the weather condition in which there are the most accidents happening,followed by IMC .VMC is a good weather condition so the weather did not affect  most of the accidents.There are accidents that took place at IMC and unk weather condition which is not a good weather condition so the company should pay attention to that.

### PLOT F : Graph of the Injury Severity by Engine.Type  

Here we will apply the pivot and groupby. We use groupby to group the data and pivot to unstack the grouped data

In [ ]:
aviation1.columns

In [ ]:
aviation1['Injury.Severity'].unique()

In [ ]:
# Group by 'Engine.Type' and 'Injury.Severity' and count occurrences
grouped_data = aviation1.groupby(['Engine.Type', 'Injury.Severity']).size().reset_index(name='Count')

# Unstack the grouped data to get the desired format
unstacked_data = grouped_data.pivot(index='Engine.Type', columns='Injury.Severity', values='Count').fillna(0)

print(unstacked_data)

# Visualize the relationship using a bar plot
unstacked_data.plot(kind='bar', figsize=(12, 8), stacked=True, colormap='viridis')

# Add labels
plt.title('Injury Severity by Engine Type')
plt.xlabel('Engine Type')
plt.ylabel('Count of Injuries')
plt.legend(title='Injury Severity')

# Show the plot
plt.show()

From the above graph we notice that Reciprocating is the engine type with the most number of  both Non-Fatal and Fatal  injuries.
Electric,Geared Turbofan , hybrid Rocket and LR are the engine types with 0  accidents

### Plot G: Graph of Total Fatal Injuries by Aircraft Damage .

Here we will Group by Aircraft.damage and calculate the sum of the Total.Fatal.Injuries,then visualize the relationship using seaborn

In [ ]:
# Group by 'Aircraft.damage' and calculate the sum of 'Total.Fatal.Injuries'
damage_injuries = aviation1.groupby('Aircraft.damage')['Total.Fatal.Injuries'].sum().reset_index()

# Ensure the 'Aircraft.damage' column is of type 'object' (string)
aviation1['Aircraft.damage'] = aviation1['Aircraft.damage'].astype(str)

# Ensure the 'Total.Fatal.Injuries' column is of type 'int'
aviation1['Total.Fatal.Injuries'] = aviation1['Total.Fatal.Injuries'].astype(int)


# Visualize the relationship using a bar plot
plt.figure(figsize=(10, 6))
sns.barplot(data=damage_injuries, x='Aircraft.damage', y='Total.Fatal.Injuries', palette='viridis')
# Add labels
plt.title('Total Fatal Injuries by Aircraft Damage')
plt.xlabel('Aircraft Damage')
plt.ylabel('Total Fatal Injuries')

# Show the plot
plt.show()

From the above graph we see that most of the aircrafts were completely destroyed

## CONCLUSION

From the above analysis, we have discovered that:¶

-We see that airplanes are the most involved in accidents followed by helicopters whereas ULTRALIGHT,WSFT ,Powered Parachute and Baloon have few involvement in accidents

Most of the aviation accidents have taken place in the United States.

CESSNA and PIPER are two topmost notorious companies which manufactured aircrafts that are involved in accidents as per this dataset.

Models 152, 172, and 172N  are most involved in disastrous air accidents.

Most of the aviation incidents have taken place during Takeoff and Landing.

Engine Type of most of the  Non-Fatal accidents and fatal accidents was reciprocating  whereas electric was not involved in most of the accidents 

Most of the aircrafts were completely destroyed and some were substantially damaged.

Most of the accidents took place when weather conditions were normal or at VMC while others took place at IMC

## RECOMMENDATIONS
- Consider aircrafts such as ULTRALIGHT,WSFT ,Powered Parachute and Baloon that have less involvement in accidents.
  
- Prioritize purchasing and operating aircraft from manufacturers with a lower incidence of accidents. This reduces potential risks and enhances safety for both commercial and private enterprises. Companies like CESSNA and PIPER have a higher frequency of accidents, indicating a need for stringent maintenance and safety protocols if their aircraft are considered.


- Choose  engine types that have a lower involvement in fatal accidents such as electric. Emphasize the use of reliable and well-documented engines.

-Avoid models with a higher incidence of accidents, such as the 152, 172, and 172N.Consider newer modelswith enhanced safety features or models such as 150M with fewer accident counts 

- Implement advanced training programs for pilots, focusing on takeoff and landing phases, which are critical points for safety.

 -Invest in robust maintenance and inspection protocols to minimize the risk of significant damage and fatalities. Adopt a proactive approach to aircraft safety.

- Invest in modern avionics, weather monitoring systems, and landing assistance technologies to enhance operational safety.Especially the IMC weather condition as some accidents took place then.